.dispSearch {
  padding-top:20px;
  text-align: right;
  width:37%
}
.MuiGridListTile-tile{
  overflow: visible !important;
}

.MuiGridListTile-root.Home-gridtile-4{
  overflow: visible !important;
  width: 800px !important;
  display: block;
  align-content: center;
}
.MuiGridList-root{
  display: block;
 justify-content: center;
}
.MuiCardContent-root{
  height:100% !important;
}
.MuiGrid-root.Home-innerroot-3.MuiGrid-item{
  height:800 !important;
}
.imageProp{
display:flex;
justify-content: center;
padding: 20px;
width: 'auto';
height:'auto';

}
.cardHeader {
  display:flex;
  float:flex-start;
}
.cardContent {
  display:flex;
  justify-content: center;
}
.likesProp {
  font-size: 40px;
  display:flex;
  justify-content: flex-start;
  vertical-align: center;
}
.image-Text{
  font-size: 22px;
  font-weight: bold;
}
.hash-tags {
  font-size: 20px;
  color: #5cc1dd;
}
.dispComment {
  display:block;
  color: black;
  font-size: 16px;
}

MuiTypography-root.MuiTypography-body1{
  color: black;
  font-size: 20px;
}
.black {
  color: none;
  cursor: pointer;
}
.userNameSpan{
  font-weight: bolder;
  font-size:16px;
}

.commenttext{
  color:black;
  font-size:15px;
}

.noLike{
    color:black;
    cursor: pointer;
}
.Liked{
  color:red;
  cursor: pointer;
}
.likeCount{
  font-size:20px;
  display:inline-block;
  margin-left: 2px;
}
