.dispSearch {
  padding-top:20px;
  text-align: right;
  width:37%
}
/*MuiGridListTile-tile*/
.HomeGridListTile{
  overflow: visible !important;
  width:102% !important;
  margin-top: 20px;
}


.HomeGridListRoot{
  display: block;
}

/*MuiPaper-root.MuiPaper-elevation1.MuiCard-root.MuiPaper-rounded*/
.cardRoot{
  width:95% !important;
}

.MuiPaper-elevation1 {
  box-shadow: 2px 5px 10px #888888 !important;
}

.MuiGrid-root.Home-root-1.MuiGrid-container{
  display: block;
  justify-content: center;
}
.MuiGridList-root{
  display: block;
  justify-content: left;
  padding-left: 7% !important;
  padding-right: 8% !important;
}
.MuiCardContent-root{
  height:100% !important;
}
.MuiGrid-root.Home-innerroot-3.MuiGrid-item{
  height:800 !important;
}

.imageProp{
display:flex;
padding-left:2%;
width:75% !important;
  }
.cardHeader {
  display:flex;
  float:flex-start;
}
.cardContent {
  display:flex;
  justify-content: center;
}
.likesProp {
  font-size: 40px;
  display:flex;
  justify-content: flex-start;
  vertical-align: center;
}
.image-Text{
  font-size: 22px;
  font-weight: bold;
}
.hash-tags {
  font-size: 20px;
  color: #5cc1dd;
}
.dispComment {
  display:block;
  color: black;
  font-size: 16px;
}

.MuiTypography-root.MuiTypography-body1{
  color: black;
  font-size: 20px;
}

.black {
  color: none;
  cursor: pointer;
}
.userNameSpan{
  font-weight: bolder;
  font-size:16px;
}

.commenttext{
  color:black;
  font-size:15px;
  word-wrap: break-word;
}

.noLike{
    color:black;
    cursor: pointer;
}
.Liked{
  color:red;
  cursor: pointer;
}
.likeCount{
  font-size:20px;
  display:inline-block;
  margin-left: 2px;
}

.innercommentbox{
  display: flex;
  flex-direction: row;
}

.commentinputbox{
  display: inline-block;
  width:80%;
  margin-right: 2% !important;
}

.addcommentbutton{
  display: inline-block;
  width:12%;
}