.red {
    color: red;
}
.card-container{
    height:80px;
    width:380px;
    padding-bottom:250px;
}
.page-background{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
height:100%;
width:100%;
}   