.red {
    color: red;
}

.dispNone{
    display:none;
}
.dispBlock{
    display:flex;
}

.card-container{
    width:25% !important;
    align-self:center !important;
}
.card-main{
    display: flex;
    justify-content: center;
}
.inputUsername{
    width:85% !important;
}

.inputPassword{
    width:85% !important;
}
