.modal-heading {
    margin-bottom: 16px !important;
  }

  .min-height-comments-box {
    min-height: 50px;
    margin-bottom: 20px;
  }
  
  .grid-content {
    cursor: pointer;
  }
  
  .redLike {
    color: red;
    cursor: pointer;
  }
  .greyLike {
    color: grey;
    cursor: pointer;
  }

.likesProp {
  font-size: 40px;
  display:flex;
  justify-content: flex-start;
  vertical-align: center;
}
.image-Text{
  font-size: 22px;
  font-weight: bold;
}
.hash-tags {
  font-size: 20px;
  color: #5cc1dd;
}
.dispComment {
  display:block;
  color: black;
  font-size: 16px;
}
MuiTypography-root.MuiTypography-body1{
  color: black;
  font-size: 20px;
}
.black {
  color: none;
  cursor: pointer;
}
.red {
  color: red;
  cursor: pointer;
}
.userNameSpan{
font-weight: bolder;
font-size:16px;
}

.commenttext{
  color:black;
  font-size:15px;
  }

  .noLike{
    color:black;
  }

  .Liked{
    color:red;
  }
  .likeCount{
    font-size:20px;
    display:inline-block;
    margin-left: 2px;
  }

  .imageProp{
    display:flex;
    justify-content: center;
    padding: 20px;
    width: 'auto';
    height:'auto';
  
  }
  .cardHeader {
    display:flex;
    float:flex-start;
  }
  .cardContent {
    display:flex;
    justify-content: center;
  
  }
