.header{

    background-color: #263238;
    color:#fff;
    font-weight:bold;
    font-size:18px;
    display:flex;
    flex-direction: row;
    height:80px;
    align-items: center ;
    flex-grow: 1;
    }
    
    .header-text{
    display:inline-block;
    width:60%;
    text-transform: capitalize;
    }
    .dispNone {
    display:none;
    }
    .noSearchBox {
    display: none;
    }

    .dispSearch {
    text-align: right;
    width:36.5%;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    }
    
    .box{
    border-radius: 4px;
    background-color: #c0c0c0;
    display:inline-block;
    width:300px;
    height:40px;
    text-align: left;
    margin-bottom: 8px;
    }

    .dispIcon{
    display: inline-block;
    width: 3%;
    }
    
    .image{
    display: flex;
    align-items: center ;
    cursor: pointer;
    }
    
    .iconButton{
    display:inline-block;
    color:black;
    }
