.header{
    background-color: #263238;
    color:#fff;
    font-weight:bold;
    font-size:18px;
    display:flex;
    flex-direction: row;
    height:80px;
    align-items: center ;
}
.header-text{

    display:inline-block;
    width:60%;
}
.dispNone {
    display:none;
}
.noSearchBox {
 display: none;
}
.dispSearch {
    text-align: right;
    width:37%
}
.dispIcon{
    display: inline-block;
    width: 3%;
}
.image{
display: flex;
align-items: center ;
}