.header{
    text-align: left;
    background-color: #263238;
    color:#fff;
    text-transform: uppercase;
    width:100%;
    height:80px;
    font-weight:bold;
	font-size:18px;
	vertical-align: middle;
}
.header-text{
   padding-top: 25px;
}